html,body {width:100%; height:100%;}/*去除浏览器下方横向滚动条overflow-x:hidden;*/
* {box-sizing:border-box;}
body {background-color:#222; font-size:12px; line-height:1.4; font-family:"Helvetica Neue","Arial","Microsoft Yahei","微软雅黑",sans-serif; color:#222; word-wrap:break-word;}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, img, pre, form, fieldset, legend, button, input, textarea, tr,th,td,a{margin:0; padding:0 ;border:0; outline:0; vertical-align:baseline;}

/*文字声明*/
h1,h2,h3,h4,h5,h6 {}
h3 {font-size:32px; margin-bottom:30px;}
h2 {font-size:20px; margin-bottom:20px;}
h3 {font-size:14px; margin-bottom:10px;}
p {font-size:14px;}
.footer_info p {font-size:12px; color:#fff; text-align:center; padding:15px 0;}

.ellipsisi {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;} /*超出容器的文本显示省略号*/
.cut {word-break:break-all;} /*将长的英文单词截为两段*/
ol,ul,li {}
a:link,a:visited{color:inherit;text-decoration:none;}
a img, a {cursor:pointer;}
.clear {clear:both; display:block; visibility:hidden; height:0; line-height:0; content:".";}

/*头部*/
#logo {position:relative; float:left;}
#logo a {display:block; width:86px; height:50px;}
#account {float:right; margin-top:25px;}
#account a {line-height:20px; color:#08c;}
#account a:hover {color:#222; text-decoration:underline;}
#account span {padding:0 5px;}
/*导航*/
#nav {float:left; width:100%; padding-right:272px;} /*取消relative变为横向二级导航*/
#nav ul, #nav li {list-style-type:none;}
/* #nav .dropdown {display:inline-block;margin-left:5px;width:7px;height:4px;background:url(../images/dropdown.png) no-repeat center right;} */
#nav ul li {float:left; position:relative; display:inline-block; height:32px; line-height:32px;}
#nav ul li.current a {background-color:#222;} 
#nav ul li.current a:hover {background-color:#222;}
#nav ul li.current a {color:#fff;}
#nav ul li a {color:#08c; padding:0 10px; display:block; text-align:center;}
#nav ul li a:hover {color:#fff; background-color:#08c; -webkit-transition:background-color 0.3s linear; -moz-transition:background-color 0.3s linear; -o-transition:background-color 0.3s linear; transition:background-color 0.3s linear;} 
 /*二级导航*/
#nav ul li ul {display:none;}
#nav ul li ul li {width:180px; height:100%;}
#nav ul li:hover ul {display:block; position:absolute; top:32px; background-color:#222;}
#nav ul li:hover ul li {float:left; position:relative; display:inline-block;}
#nav ul li:hover ul li a {padding:10px; display:block; color:#999; text-align:center; border-top:1px solid #336;} 
#nav ul li:hover ul li a:hover {color:#fff; background-color:#08c; -webkit-transition:background-color 0.3s linear; -moz-transition:background-color 0.3s linear; -o-transition:background-color 0.3s linear; transition:background-color 0.3s linear;} 
 /*三级导航
 #nav ul li:hover ul li ul{display:none;}
 #nav ul li:hover ul li:hover ul{display:block;position: absolute;top:-1px;left: 151px;}
 */

.option_bar {float:left; height:32px;}
.option_deco {float:left; width:100px; height:32px; line-height:32px; border:1px solid #08c;} 
.option_deco option {padding:5px 0;}

.search_bar {float:left; margin-left:20px; height:32px;}
.search_input {float:left; width:100px; height:32px; line-height:32px; color:#999; border-width:1px 0 1px 1px; border-style:solid none solid solid; border-color:#08c; border-image:none; padding:0 5px;}
.search_btn {float:left; width:32px; height:32px; display:block; background:#08c url(../helix_images/search_btn_32_32.png) no-repeat scroll 0 0;}

/*自适应宽度*/
.fl {float:left;}
.column-1,.column-2,.column-3,.column-4,.column-5,.column-6,.column-7,.column-8,.column-8,.column-10 {position:relative; float:left; min-height:20px; padding:0 20px;}
.column-10 {width:100%;}
.column-7 {width:70%;}
.column-3 {width:30%;}

/*总框架*/
#wrapper {position:relative; float:left; width:100%;}
#head_wrapper {position:relative; float:left; width:100%; background-color:#fff; z-index:999; border-bottom:1px solid #eee;}
#main_wrapper {position:relative; float:left; width:100%; background-color:#fff; overflow:hidden; padding-bottom:30px;}
#foot_wrapper {position:relative; float:left; width:100%; background-color:#222;}
#layout {position:relative; width:90%; margin:0 auto;}
.row {position:relative; margin:0 -20px;}
.cont_box {overflow:hidden; margin-top:40px;}
.cont_box ul {list-style-type:disc; margin-left:14px;}
.cont_box ul li {list-style-type:disc; font-size:14px; margin-bottom:10px;}
.cont_box ul li a {color:#08c; font-weight:bold;}
.cont_box ul li a:hover {color:#222; text-decoration:underline;}
.cont_box h3 a {color:#08c;}
.cont_box h3:hover a {color:#222; text-decoration:underline;}
.cont_box .current {color:#222; font-size:24px;}
.cont_box p {margin-bottom:10px;}
.cont_box p a {font-weight:bold; color:#08c;}
.cont_box p a:hover {color:#222; text-decoration:underline;}
.cont_box .columns {margin-left:0; overflow:hidden;}
.cont_box .columns li {display:inline-block; width:40%; margin-right:5%; margin-bottom:10px;}
.cont_box .columns li a {color:#08c; font-size:14px; margin-bottom:10px;}
.cont_box .columns li a:hover {color:#222; text-decoration:underline;}
.cont_box .desc {}
.cont_box .warning {background-color:#fc0; font-weight:bold;}
.cont_box .info {border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:20px;}
.cont_box .desc p {margin-bottom:10px;}
.cont_box .info span {color:#555; display:inline-block; width:25%; margin-right:5%;}

.minibox {position:relative; float:left; overflow:hidden;}
.minibox_img {position:relative; float:left; overflow:hidden; width:25%; margin-bottom:20px;}
.minibox_info {position:relative; float:left; overflow:hidden; width:70%; margin-left:5%;}

/*slide轮播*/
.banner {position:relative; overflow:hidden; height:400px; margin-top:40px; padding:0 20px;}
.banner a.btn_left {z-index:9; position:absolute; width:36px; height:100px; left:20px; top:150px; 
background-color:rgba(34,34,34,.2);
background-image:url(../helix_images/btn_left_16_30.png);
background-repeat:no-repeat;
background-position:9px 35px; 
display:inline-block;}
.banner a.btn_left:hover {background-color:rgba(34,34,34,1); transition:.3s ease-in-out;}

.banner a.btn_right {z-index:9; position:absolute; width:36px; height:100px; right:20px; top:150px; 
background-color:rgba(34,34,34,.2);
background-image:url(../helix_images/btn_right_16_30.png);
background-repeat:no-repeat;
background-position:9px 35px; 
display:inline-block;}
.banner a.btn_right:hover {background-color:rgba(34,34,34,1); transition:.3s ease-in-out;}


.slide01, .slide02, .slide03 .slide04 {position:relative; overflow:hidden; width:100%; height:400px; z-index:8;}
.slide01 {background:#fafafa url(../helix_images/slide01.png) no-repeat 100% 0;}
.image_wrapper {}
.item_wrapper {position:absolute; width:60%; left:0; top:0; height:400px; float:left; padding:40px 40px 40px 60px;}
.item_wrapper h2 {}
.item_wrapper p {margin-bottom:20px; }
.item_wrapper a {display:inline-block; padding:10px 20px; color:#fff; background-color:#08c;}
.item_wrapper a:hover {background-color:#39e; -webkit-transition:background-color 0.3s linear; -moz-transition:background-color 0.3s linear; -o-transition:background-color 0.3s linear; transition:background-color 0.3s linear;}

/*My Page - sub_nav*/
#sub_nav_wrapper {width:100%; overflow:hidden; margin-top:-1px; padding:0 20px; }
#sub_nav {position:relative; float:left; border:1px solid #eee;}
#sub_nav ul, #nav li {list-style:none;}
#sub_nav ul li {float:left; position:relative; height:32px; line-height:32px;}
#sub_nav ul li.current {background-color:#222;} 
#sub_nav ul li.current a:hover {background-color:#222;}
#sub_nav ul li.current a {color:#fff;}
#sub_nav ul li a {color:#08c; padding:0 10px; display:block; text-align:center;}
#sub_nav ul li a:hover {color:#fff; background-color:#08c; -webkit-transition:background-color 0.3s linear; -moz-transition:background-color 0.3s linear; -o-transition:background-color 0.3s linear; transition:background-color 0.3s linear;} 

.nower {position:relative; float:left; height:20px; line-height:20px; padding-left:5px;}






