/* HTML elements */
html,body {width:100%; height:100%;}/*去除浏览器下方横向滚动条overflow-x:hidden;*/
*, *::before, *::after {box-sizing:border-box;}
body {background-color:#ffffff; font-size:62.5%; line-height:1.5; font-family:'Helvetica Neue','Microsoft Yahei',sans-serif; color:#222; word-wrap:break-word;}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, img, pre, form, fieldset, legend, button, input, textarea, tr,th,td,a{margin:0; padding:0 ;border:0; outline:0; vertical-align:baseline;}
header, footer, section, article, nav, figure, aside, details, hgroup {display:block;}

/* Fonts */
h1,h2,h3,h4,h5,h6 {color:#333; margin: 0 0 .5em 0;}
h1 {font-size:2em; line-height:1.2;}
h2 {font-size:1.5em; line-height:1.2;}
h3 {font-size:1.25em; line-height:1.2;}
h4 {font-size:1em; line-height:1.2;}
h5 {font-size:0.8em; line-height:1.2;}
h6 {font-size:0.6em; line-height:1.2;}
p, ul, ol {font-size:1em; line-height:1.2; margin-bottom:6px;}
button, input, select, textarea {font-size:0.75em;}

.ellipsisi {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;} /*超出容器的单行文本显示省略号*/
.cut {word-break:break-all;} /*将长的英文单词截为两段*/
ol, ul, li {list-style:none;}
a:link, a:visited {text-decoration:none;}
a img, a {cursor:pointer;}
.clearfix::before {content:""; display:table;}
.clearfix::after {content:""; display:table; clear:both;}

/* Body */
.link-trasition a {transition:background 0.2s ease, color 0.2s ease;}
.site-wrap {position:relative; width:100%;}
.site-container {position:relative; max-width:1760px; margin:0 auto; float:none;}

/* Header */
.site-header {position:relative; background-color:green; padding:20px;}
.site-header::after {clear:both; content:''; display:table;}
.logo-container {float:left; width:30%;}
.nav-container {float:right; width:70%}
.nav-container nav {padding-left:0%; text-align:right;}

/* Main */
main {display:block; overflow:hidden; width:100%;}
.imgWrap {max-width:1760px; padding:20px 0;}
.imgWrap li {float:left; min-width:100px; min-height:100px; margin:20px; text-align:center; font-size:0;}
.imgWrap li a {display:block; overflow:hidden;}
.imgWrap li a span {display:inline-block; width:0; height:100%; vertical-align:middle;}
.imgWrap li a img {vertical-align:middle; max-width:100%;}

/* Footer */
.site-footer {text-align:center; padding:20px; background-color:green;}





