/* HTML elements */
html,body {width:100%; height:100%;}/*去除浏览器下方横向滚动条overflow-x:hidden;*/
*, *::before, *::after {box-sizing:border-box;}
body {background-color:#ffffff; font-size:62.5%; line-height:1.5; font-family:'Helvetica Neue','Microsoft Yahei',sans-serif; color:#222; word-wrap:break-word;}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, img, pre, form, fieldset, legend, button, input, textarea, tr,th,td,a{margin:0; padding:0 ;border:0; outline:0; vertical-align:baseline;}
header, footer, section, article, nav, figure, aside, details, hgroup {display:block;}

/* Fonts */
h1,h2,h3,h4,h5,h6 {color:#333; margin: 0 0 .5em 0;}
h1 {font-size:2em; line-height:1.2;}
h2 {font-size:1.5em; line-height:1.2;}
h3 {font-size:1.25em; line-height:1.2;}
h4 {font-size:1em; line-height:1.2;}
h5 {font-size:0.8em; line-height:1.2;}
h6 {font-size:0.6em; line-height:1.2;}
p, ul, ol {font-size:1em; line-height:1.2; margin-bottom:6px;}
button, input, select, textarea {font-size:0.75em;}


input[type=submit] {padding:0 20px;background-color: #08c;color: #fff;}
input[type=checkbox] {border:1px solid #08c; height: 24px; line-height: 24px;vertical-align: middle;}

.ellipsisi {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;} /*超出容器的单行文本显示省略号*/
.cut {word-break:break-all;} /*将长的英文单词截为两段*/
ol, ul, li {list-style:none;}
a:link, a:visited {color:inherit;text-decoration:none;}
a img, a {cursor:pointer;}
.clearfix::before {content:""; display:table;}
.clearfix::after {content:""; display:table; clear:both;}

/* Header */

/* Main */
#main {position:relative;}
section#home_boxes {}
section#home_boxes article {float:left; line-height:0; position:relative; background:#fff url("../images/loading.gif") no-repeat center top;}
section#home_boxes article .infobox {position:absolute; width:100%; height:100%; padding:1.5em;}
section#home_boxes article .infobox p {font-size:1.25em; line-height:1.2; margin-bottom:6px;}
section#home_boxes article .ratio {position:relative; overflow:hidden; width:100%; height:100%;}
section#home_boxes article .ratio img {max-width:100%; min-width:100%; float:left;}


/* 自适应宽度 */
.fl {float:left;}
.fr {float:right;}


